force-app/main/default/flows/Case_Task_Creation_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createTaskCallout</name>
        <label>createTaskCallout</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>ClockifyCreateTask.ClockifyCreateTask</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckResponseStatus</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>workspaceId</name>
            <value>
                <elementReference>workspaceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClockifyCreateTask.ClockifyCreateTask</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignCalloutVariables</name>
        <label>assignCalloutVariables</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>requestBody.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClockifyTaskName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTaskCallout</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckInformation</name>
        <label>CheckInformation</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Time_Entry_Missing_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingInformation</defaultConnectorLabel>
        <rules>
            <name>hasAllInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workspaceID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TimeEntry</targetReference>
            </connector>
            <label>hasAllInformation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckResponseStatus</name>
        <label>CheckResponseStatus</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Time_Entry_Returned_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsError</defaultConnectorLabel>
        <rules>
            <name>IsSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createTaskCallout.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>IsSuccess</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case: Task Creation Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Task Creation Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Service_Contract</name>
        <label>Get Service Contract</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractID</elementReference>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <field>ClockifyProjectID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCaseRecords</name>
        <label>Get Case Records</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClockifyTaskName</assignToReference>
            <field>Clockify_Task_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceContractID</assignToReference>
            <field>Service_Contract__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clockify_Task_Id__c</field>
            <value>
                <elementReference>createTaskCallout.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Time Entry - Success</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XJLd?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Integração SF Clockify - P.gif&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Time entry created successfully!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Entry_Missing_Information</name>
        <label>Time Entry - Missing Information</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XFt7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Flo Error.jpeg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 10, 10);&quot;&gt;Houston, we have a problem! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 10, 10);&quot;&gt;Some field(s) cannot be found:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Project ID:&lt;/strong&gt; {!ProjectId}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Workspace ID: &lt;/strong&gt;{!workspaceID}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;(Values cannot be &lt;em&gt;null&lt;/em&gt;)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Entry_Returned_Error</name>
        <label>Time Entry - Returned Error</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XG61?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Flo Error.jpeg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;We&apos;ve tried to include the time entry on Clockify, but there&apos;s an error!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Code: &lt;/strong&gt;{!createTaskCallout.responseCode}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Exception: &lt;/strong&gt;{!createTaskCallout.defaultExc}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeEntry</name>
        <label>Time Entry</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignCalloutVariables</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Pretende sincronizar este case com o Clockify?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Task Name: &lt;/strong&gt;{!ClockifyTaskName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClockifyTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__ClockifyCreateTask_ClockifyCreateTask_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>workspaceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.ClockifySettings__c.workspaceId__c</elementReference>
        </value>
    </variables>
</Flow>
