force-app/main/default/flows/Sales_Contract_to_Entitlements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>addMembershipV2</name>
        <label>addMembershipV2</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>membershipCalloutV2.membershipCalloutV2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>updateContract</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workspaceId</name>
            <value>
                <elementReference>workspaceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>AddProjectCalloutV2.2XX.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>membershipBodyV2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>membershipCalloutV2.membershipCalloutV2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AddProjectCalloutV2</name>
        <label>AddProjectCalloutV2</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>ClockifyAddProjectV2.ClockifyAddProjectV2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>assignMembership</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workspaceID</name>
            <value>
                <elementReference>workspaceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>requestBodyV2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClockifyAddProjectV2.ClockifyAddProjectV2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Gives values to the</description>
        <name>AssignBody</name>
        <label>AssignBody</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>requestBodyV2.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBodyV2.clientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ClockifyClientId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requestBodyV2.isPublic</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddProjectCalloutV2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMembership</name>
        <label>assignMembership</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>membershipV2.userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>650dbc78a913190558ecd1c8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignMemberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMemberships</name>
        <label>assignMemberships</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>membershipBodyV2.memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>membershipV2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addMembershipV2</targetReference>
        </connector>
    </assignments>
    <description>Automatically creates Entitlement and Service Contract when Contract is activated</description>
    <environments>Default</environments>
    <formulas>
        <name>MonthlyHours</name>
        <dataType>Number</dataType>
        <expression>MOD({!$Record.ContractedHours__c},{!$Record.ContractTerm})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sales: Contract to Entitlements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales: Contract to Service Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creates_Entitlement</name>
        <label>Creates Entitlement</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>BusinessHoursID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceContractId</field>
            <value>
                <elementReference>Creates_Service_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>EntitlementID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Web Support</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creates_Service_Contract</name>
        <label>Creates Service Contract</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Creates_Entitlement</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyHoursPerContract__c</field>
            <value>
                <elementReference>$Record.Contracted_Monthly_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemainingMonthlyHours__c</field>
            <value>
                <elementReference>$Record.Contracted_Monthly_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RemainingTotalHours__c</field>
            <value>
                <elementReference>$Record.ContractedHours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalHoursPerContract__c</field>
            <value>
                <elementReference>$Record.ContractedHours__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_Hour_ID</name>
        <label>Get Business Hour ID</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Entitlement_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputAssignments>
            <assignToReference>BusinessHoursID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Process</name>
        <label>Get Entitlement Process</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creates_Service_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Support</stringValue>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>EntitlementID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Updates the triggering contract with the variables received in the response</description>
        <name>updateContract</name>
        <label>updateContract</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClockifyProjectID__c</field>
            <value>
                <elementReference>AddProjectCalloutV2.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Business_Hour_ID</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>AssignBody</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessHoursID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membershipBodyV2</name>
        <apexClass>ExternalService__membershipCalloutV2_membershipCalloutV2_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberships</name>
        <apexClass>ExternalService__CreateMembershipCallout_AddMembershipCallout_IN_body_memberships</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membershipV2</name>
        <apexClass>ExternalService__membershipCalloutV2_membershipCalloutV2_IN_body_memberships</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestBodyV2</name>
        <apexClass>ExternalService__ClockifyAddProjectV2_ClockifyAddProjectV2_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workspaceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.ClockifySettings__c.workspaceId__c</elementReference>
        </value>
    </variables>
</Flow>
