force-app/main/default/flows/Sales_Create_Contract_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddClientAction</name>
        <label>AddClientAction</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>ClockifyAddClient.ClockifyAddClient</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>UpdateAccountRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workspaceId</name>
            <value>
                <elementReference>workspaceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CalloutBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClockifyAddClient.ClockifyAddClient</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Gives values to each of the request body variables</description>
        <name>SetBodyValues</name>
        <label>SetBodyValues</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>CalloutBody.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddClientAction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ValidateClientID</name>
        <label>ValidateClientID</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>SetBodyValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoClientID</defaultConnectorLabel>
        <rules>
            <name>HasClientId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ClockifyClientId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>HasClientId</label>
        </rules>
    </decisions>
    <description>Create Contract from Opportunity when the opportunity is won and &quot;Hours Package&quot; type</description>
    <environments>Default</environments>
    <interviewLabel>Sales: Create Contract from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales: Create Contract from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creates_Contract</name>
        <label>Creates Contract</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>UpdateAccountRecord</name>
        <label>UpdateAccountRecord</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ClockifyClientId__c</field>
            <value>
                <elementReference>AddClientAction.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Creates_Contract</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SOW Signed!</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hours Package</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ValidateClientID</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CalloutBody</name>
        <apexClass>ExternalService__ClockifyAddClient_ClockifyAddClient_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workspaceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.ClockifySettings__c.workspaceId__c</elementReference>
        </value>
    </variables>
</Flow>
