force-app/main/default/flows/ServiceContract_Project_Creation_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <actionName>ClockifyAddProjectV2.ClockifyAddProjectV2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_Membership</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>workspaceID</name>
            <value>
                <elementReference>workspaceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyProject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClockifyAddProjectV2.ClockifyAddProjectV2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>createMembership</name>
        <label>createMembership</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <actionName>membershipCalloutV2.membershipCalloutV2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckResponseStatus</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>workspaceId</name>
            <value>
                <elementReference>workspaceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>Create_Project.2XX.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>membershipBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>membershipCalloutV2.membershipCalloutV2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Body_Membership</name>
        <label>Assign Body Membership</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>membershipBody.memberships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>membership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createMembership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Membership</name>
        <label>Assign Membership</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>membership.userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>650dbc78a913190558ecd1c8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Body_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCalloutVariables</name>
        <label>assignCalloutVariables</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>bodyProject.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClockifyProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bodyProject.clientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bodyProject.isPublic</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckInformation</name>
        <label>CheckInformation</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Project_Missing_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingInformation</defaultConnectorLabel>
        <rules>
            <name>hasAllInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workspaceID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCalloutVariables</targetReference>
            </connector>
            <label>hasAllInformation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckResponseStatus</name>
        <label>CheckResponseStatus</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Project_Returned_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsError</defaultConnectorLabel>
        <rules>
            <name>IsSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Project.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ServiceContract_Record</targetReference>
            </connector>
            <label>IsSuccess</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSynced</name>
        <label>IsSynced</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Task_Creation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Desync</defaultConnectorLabel>
        <rules>
            <name>Sync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceContractID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SyncedScreen</targetReference>
            </connector>
            <label>Sync</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ServiceContract: Project Creation Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceContract: Project Creation Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Client</name>
        <label>Get Client</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ClientId</assignToReference>
            <field>ClockifyClientId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ServiceContract_Record</name>
        <label>Get ServiceContract Record</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsSynced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceContractID</assignToReference>
            <field>ClockifyProjectID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClockifyProjectName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_ServiceContract_Record</name>
        <label>Update ServiceContract Record</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClockifyProjectID__c</field>
            <value>
                <elementReference>Create_Project.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceContract</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confimation - Success</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XJLd?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Integração SF Clockify - P.gif&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Project created successfully!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Missing_Information</name>
        <label>Project- Missing Information</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XFt7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Flo Error.jpeg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 10, 10);&quot;&gt;Houston, we have a problem! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 10, 10);&quot;&gt;Some field(s) cannot be found:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;ClientId:&lt;/strong&gt; {!ClientId}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Workspace ID: &lt;/strong&gt;{!workspaceID}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;(Values cannot be &lt;em&gt;null&lt;/em&gt;)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Returned_Error</name>
        <label>Project - Returned Error</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XG61?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Flo Error.jpeg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;We&apos;ve tried to include the time entry on Clockify, but there&apos;s an error!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Code: &lt;/strong&gt;{!Create_Project.responseCode}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Exception: &lt;/strong&gt;{!Create_Project.defaultExc}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SyncedScreen</name>
        <label>SyncedScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaySynched</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Clockify Synched&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Creation_Screen</name>
        <label>Task Creation Screen</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Client</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Este projeto não está sincronizado com o Clockify!&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Name: &lt;/strong&gt;{!ClockifyProjectName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Sinchronize</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ServiceContract_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bodyProject</name>
        <apexClass>ExternalService__ClockifyAddProjectV2_ClockifyAddProjectV2_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClockifyProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membership</name>
        <apexClass>ExternalService__membershipCalloutV2_membershipCalloutV2_IN_body_memberships</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membershipBody</name>
        <apexClass>ExternalService__membershipCalloutV2_membershipCalloutV2_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestBody</name>
        <apexClass>ExternalService__ClockifyCreateTask_ClockifyCreateTask_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workspaceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.ClockifySettings__c.workspaceId__c</elementReference>
        </value>
    </variables>
</Flow>
