force-app/main/default/flows/Service_Contract_Remaining_Monthly_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Billable_Hours_x_Remaining_Hours</name>
        <label>Billable Hours x Remaining Hours</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>sumBillableHours</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.RemainingMonthlyHours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Monthly_Remaining_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Billlable_Hours</name>
        <label>Sum Billlable Hours</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>sumBillableHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cases.BillableHours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>invertSumBillableHours</name>
        <dataType>Number</dataType>
        <expression>ABS({!sumBillableHours})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LastDayofTheMonth</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12, 
DATE( YEAR( TODAY() ), 12, 31 ), 
DATE( YEAR( TODAY() ), MONTH( TODAY() ) + 1, 1) - 1)</expression>
    </formulas>
    <interviewLabel>Entitlement: Remaining Monthly Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Contract: Remaining Monthly Hours</label>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Current_Month_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Billlable_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Billable_Hours_x_Remaining_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Month_Cases</name>
        <label>Get Current Month Cases</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntitlementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDayofTheMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Month_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Monthly_Remaining_Hours</name>
        <label>Update Monthly Remaining Hours</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>RemainingMonthlyHours__c</field>
            <value>
                <elementReference>invertSumBillableHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDeleted</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceContract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-08</startDate>
            <startTime>14:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sumBillableHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
