force-app/main/default/flows/TimeEntry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TimeEntryCallout</name>
        <label>TimeEntryCallout</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>ClockifyTimeEntry.ClockifyTimeEntry</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>CheckResponseStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>workspaceId</name>
            <value>
                <elementReference>workspaceID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>calloutBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClockifyTimeEntry.ClockifyTimeEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignCalloutVariables</name>
        <label>assignCalloutVariables</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>calloutBody.start</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calloutBody.z0end</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calloutBody.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calloutBody.taskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calloutBody.projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>calloutBody.billable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBillable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeEntryCallout</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TagIds</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>CheckInformation</name>
        <label>CheckInformation</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Time_Entry_Missing_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingInformation</defaultConnectorLabel>
        <rules>
            <name>hasAllInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ClockifyUserId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>workspaceID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCalloutVariables</targetReference>
            </connector>
            <label>hasAllInformation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckResponseStatus</name>
        <label>CheckResponseStatus</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Time_Entry_Returned_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsError</defaultConnectorLabel>
        <rules>
            <name>IsSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeEntryCallout.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>201.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Entry</targetReference>
            </connector>
            <label>IsSuccess</label>
        </rules>
    </decisions>
    <description>Time Entry to Clockify</description>
    <environments>Default</environments>
    <interviewLabel>TimeEntry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Time_Entry</name>
        <label>Create Time Entry</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClockifyTimeEntryId__c</field>
            <value>
                <elementReference>TimeEntryCallout.2XX.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime__c</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Ray_ID__c</field>
            <value>
                <elementReference>TimeEntryCallout.2XX.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isBillable__c</field>
            <value>
                <elementReference>isBillable</elementReference>
            </value>
        </inputAssignments>
        <object>TimeEntry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCaseRecords</name>
        <label>Get Case Records</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServiceContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TaskId</assignToReference>
            <field>Clockify_Task_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceContractId</assignToReference>
            <field>Service_Contract__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetServiceContract</name>
        <label>GetServiceContract</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TimeEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <object>ServiceContract</object>
        <outputAssignments>
            <assignToReference>ProjectId</assignToReference>
            <field>ClockifyProjectID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Time Entry - Success</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XJLd?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Integração SF Clockify - P.gif&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Time entry created successfully!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Entry_Missing_Information</name>
        <label>Time Entry - Missing Information</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XFt7?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Flo Error.jpeg&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 10, 10);&quot;&gt;Houston, we have a problem! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 10, 10);&quot;&gt;Some field(s) cannot be found:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Description: &lt;/strong&gt;{!Description}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Start: &lt;/strong&gt;{!StartDateTime}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;End: &lt;/strong&gt;{!EndDateTime}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Project ID:&lt;/strong&gt; {!ProjectId}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Task Id:&lt;/strong&gt; {!TaskId}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;User Id:&lt;/strong&gt; {!userId}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;(Values cannot be &lt;em&gt;null&lt;/em&gt;)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Entry_Returned_Error</name>
        <label>Time Entry - Returned Error</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://raisengo--svcproj.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068UE000000XG61?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Flo Error.jpeg&quot;&gt; &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(202, 9, 9);&quot;&gt;We&apos;ve tried to include the time entry on Clockify, but there&apos;s an error!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Code: &lt;/strong&gt;{!TimeEntryCallout.responseCode}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Exception: &lt;/strong&gt;{!TimeEntryCallout.defaultExc}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeEntry</name>
        <label>Time Entry</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckInformation</targetReference>
        </connector>
        <fields>
            <name>StartDateTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Start Time cannot be a future time&lt;/p&gt;</errorMessage>
                <formulaExpression>{!StartDateTime}&lt;= {!$Flow.InterviewStartTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EndDateTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;End Time cannot be less or equal than Start Time&lt;/p&gt;</errorMessage>
                <formulaExpression>{!EndDateTime} &gt;= {!StartDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>isBillable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Billable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseRecords</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calloutBody</name>
        <apexClass>ExternalService__ClockifyTimeEntry_ClockifyTimeEntry_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ClockifyUserId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>workspaceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.ClockifySettings__c.workspaceId__c</elementReference>
        </value>
    </variables>
</Flow>
